@model planMyMDVisit.Models.Domain.Doctor;

<h1>Fullname: @Model.User.FullName()</h1>
<h1>Specialty: @Model.Specialty</h1>
<h1>Gender: Add Gender here</h1>
<h1>Hospital: Add Hospital here</h1>

@*if current_user.admin == true 

<h1>Address: Add hosptial address here</h1>
<h1>City: Add hospital city here</h1>
<h1>State: add hospital state here</h1>
<h1>Zipcode: add hospital zipcode here</h1>
*@

<br />
<br />

<a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="FullProfile" asp-route-userId="@Model.UserId">Full Doctor's Profile and Patient Lists</a>

<br />
<br />

<a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="CreateUser">Back to Doctors List</a>

@* <h2>Name: @Model.User.FullName()</h2>

<h2>Specialty: @Model.Specialty</h2>

<h2>Doctor Address and Phone Number</h2>

<form asp-controller="HealthCareTeams"
      asp-action="MakeNewAppt"
      asp-route-doctorName="@Model.User.FullName()"
      asp-route-specialty="@Model.Specialty">
    <button type="submit" class="btn btn-primary">Schedule Appointment</button>
    <a href="@Url.Action("Index", "Doctors")" id="backToDrList" class="btn btn-primary">Back to List</a>
</form> *@
