@model planMyMDVisit.Models.Domain.Doctor

<h2>Name: @Model.User.FullName()</h2>

<h2>Specialty: @Model.Specialty</h2>

<h2>Doctor Address and Phone Number</h2>

<form asp-controller="HealthCareTeams"
      asp-action="MakeNewAppt"
      asp-route-doctorName="@Model.User.FullName()"
      asp-route-specialty="@Model.Specialty">
    <button type="submit" class="btn btn-primary">Schedule Appointment</button>
    <a href="@Url.Action("Index", "Doctors")" id="backToDrList" class="btn btn-primary">Back to List</a>
</form>
