@using planMyMDVisit.Utilities;
@*@model planMyMDVisit.Models.Domain.Patient*@
@model planMyMDVisit.Models.ViewModels.PatientEventViewModel

<h4>My Care Team</h4>

@* <div class="row">
    <div class="col col-sm-12 card-container">
        @foreach (var hct in Helpers.TwoLatestCareTeams(Model))
        @for (var i = 0; i < 3; i++)
        {
            <div class="card blue lighten-5">
                <div class="card-content black-text">
                    <span class="card-title truncate">@hct.Doctor.Specialty</span>
                    <span class="card-title truncate">Doctor Specialty</span>
                    <p class="truncate"><%= date_time(healthcare_team.appointment) %></p>
                    <p class="truncate">Date</p>
                </div>
                <div class="card-action">
                    @hct.Doctor.User.FullName
                    Doctor Name
                </div>
            </div>
        }
    </div>
</div> *@



<div class="row">
    <div class="col s12 m4 l4">

        <h4>Your Care Team</h4>

        @foreach (var hct in Helpers.AllCareTeams(Model.Patient))
        {
            <div class="card blue lighten-5">
                <div class="card-content black-text">
                    <p class="card-title truncate">@hct.Doctor.Specialty</p>
                    <br/>
                    @*<p class="truncate"><%= date_time(healthcare_team.appointment) %></p>*@
                    <p class="truncate">@hct.Appointment.ToString("f")</p>
                </div>
                <div class="card-action">
                    @hct.Doctor.User.FullName()
                </div>
            </div>
        }
    </div>
</div>

<a class="waves-effect waves-light btn btn-primary" asp-area="" asp-controller="Patients" asp-action="Show">Main Page</a>
